* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: left;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  width: 100vw;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.suggestButton {
  background-color: transparent;
  border: none;
  padding: 0.4rem 0.8rem;
}

.suggestRow:hover {
  background-color: #e0e0e0;
}

.suggestRemoveButton {
  background-color: transparent;
  border: none;
  padding: 0.4rem 0.8rem;
}

.suggestRemoveButton:hover {
  cursor: pointer;
}

.searchBar {
  outline: none;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  border: 1px solid #d7d7d7;
  width: 24rem;
  box-shadow: 0 4px 2px -2px rgba(64, 60, 67, .16);
}

.withSuggest {
  border-radius: 12px 12px 0 0;
  border-bottom-color: transparent;
  box-shadow: none;
}